.App-body {
  margin: 20px;
}

.App-buttonbar {
  margin: 10px;
}

.App-header {
  text-align: center;
  background-color: #4169E1;
  padding: 13px;
  color: white;
  border-bottom: 10px solid DarkGray;
}

.App-title {
  font-size: 1.8em;
}

.List-title {
  font-size: 1.5em;
}

.List-header {
  text-align: center;
  background-color: #6495ED;
  padding: 10px;
  color: white;
  border: 5px solid Silver;
}
.logo {
  color: red;
}
img{
  padding: 2.5px;
  border-radius: 50%;
}
.-highlight{
  text-align: center;
}
.main-content {
  padding: 1em 2em;
}
.not-found {
  text-align: center;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

.calendar {
  min-height: 700px;
  margin:50px;
}
